<!-- We need to import this on to the show page -->

<div class="form">
  <%= simple_form_for [ @swimming_pool, @booking ] do |f| %>
    <%= f.input :date %>
    <%= f.input :number_people %>
    <%= f.input :message %>
    <%= f.submit "Book", class: "btn btn-book w-100"%>
  <% end %>
</div>
