<div class="container">
  <h1>My bookings</h1>
  <h1>Upcoming bookings</h1>
  <div class=" pt-4 container">
    <div class="row justify-content-between">
      <% @bookings.each do |booking| %>
        <div class="col-4">
          <img class="card-img-top card-pool-img" src="https://images.unsplash.com/photo-1586804204376-becb4dc730d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-pool-title"><%= booking.swimming_pool.title %> 🏝</h5>
               <div class="row justify-content-between">
               </div>
              <p class="card-pool-text">
                <i class="fas fa-map-marker-alt"></i>
                <%= booking.swimming_pool.location %>
              </p>
              <p class="card-pool-text">
                <i class="fas fa-swimmer"></i>
                <%= booking.swimming_pool.capacity %>
              </p>
            </div>
        <% end %>
      </div>
    </div>
  </div>

  <h2>Past bookings</h2>
    <div class=" pt-4 container">
      <div class="row justify-content-between">
        <% @bookings.each do |booking| %>
          <div class="col-4">
            <img class="card-img-top card-pool-img" src="https://images.unsplash.com/photo-1586804204376-becb4dc730d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-pool-title"><%= booking.swimming_pool.title %> 🏝</h5>
                 <div class="row justify-content-between">
                 </div>
                <p class="card-pool-text">
                  <i class="fas fa-map-marker-alt"></i>
                  <%= booking.swimming_pool.location %>
                </p>
                <p class="card-pool-text">
                  <i class="fas fa-swimmer"></i>
                  <%= booking.swimming_pool.capacity %>
                </p>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
