<!-- Here goes the navbar-->

<!-- Would love to have three photos here  -->
<div class="container">
  <div class="padding-show">
    <div class="row">
      <div class="col-6">
        <%= image_tag "lux_pool.jpg", alt: "luxurious pool", class: "img-show"%>
      </div>
      <div class="col-6">
        <!-- Import -form.thml.erb - bookings -->
        <%= render 'bookings/form', booking: @booking %>
      </div>
    </div>
  </div>

  <h1><%= @swimming_pool.title %></h1>

  <div>
    <p> <i class="fas fa-map-marker-alt"></i> <%= @swimming_pool.location %></p>
    <p>€ 20</p>
  </div>

  <div class="section-blue">
    <h2 class="padding-down">Key Features</h2>
    <div class="row">
      <div class="col-6">
        <img src="https://img.icons8.com/pastel-glyph/64/000000/swimming-pool.png" class="icon"/><
          <p> <%= @swimming_pool.capacity %> people</p>
        </div>
        <div class="col-6">
          <img src="https://img.icons8.com/dotty/80/000000/house-with-a-garden.png" class="icon"/>
          <p> <%= @swimming_pool.size %> m2 </p>
        </div>
        <div class="col-6">
          <img src="https://img.icons8.com/ios/50/000000/picnic-table.png" class="icon"/>
          <p>Table & Chairs</p>
        </div>
        <div class="col-6">
          <img src="https://img.icons8.com/wired/64/000000/weber--v1.png" class="icon"/>
          <p>Barbecue</p>
        </div>
    </div>
  </div>

  <div  class="section-blue">
    <h2 class="padding-down"> Description </h2>
    <p><%= @swimming_pool.description %>

  En ce qui me concerne AUCUN problème quant aux risques sanitaires Covid 19; le jardin​,​ tout en longueur et sur 1.700 m2​,​ permet une bonne distanciation.
  </p>
  </div>
</div>
